language: objective-c
osx_image: xcode7.3

before_install:
    - export LANG=en_US.UTF-8
    - env
    - locale
    
    - brew update
    - brew outdated xctool || brew upgrade xctool
    - brew outdated carthage || brew upgrade carthage
    
    - brew uninstall mogenerator || true
    - brew install mogenerator
    
    - bundle install

before_script:
    - carthage bootstrap --platform ios
    - pod install

script:
    - xctool -workspace Mattermost.xcworkspace -scheme Mattermost -sdk iphonesimulator9.3 build -destination "platform=iOS Simulator,name=iPhone 6"
