github "laptobbe/TSMarkdownParser" "master"
github "optonaut/ActiveLabel.swift" "master"
github "Kilograpp/UITableView-Cache" "master"
github "facebook/SocketRocket"
github "rs/SDWebImage" "master"
github "SnapKit/Masonry" "master"
github "jdg/MBProgressHUD" ~> 0.9.2
github "Kilograpp/MFSideMenu" "master"
